<footer>
    <!-- <p>
        StackRoute, an NIIT venture, is a digital transformation partner for corporates to build multi-skilled 
        full stack developers at scale. Established in August 2015, StackRoute provides disruptive 
        IT learning solutions on programming, quality-engineering, data-science and digital architecture.
        Our immersive and remote programs are practitioner-led and outcome-oriented. 
        Geared towards imparting deep skills in digital technologies, StackRoute works with multiple tier 1 IT companies, 
        product engineering companies, and GICs towards transforming their workforce into full 
        stack developers who can efficiently deliver digital transformation projects with ease.
    </p> -->
    

    <div class="footer-bottom" fxLayout="row" fxLayoutAlign="center center" >
        <div fxFlex="50">
            <p style="margin-top: 1%;">Copyright © 2022 StackRoute. All rights reserved. Powered by <a href="https://openai.com/api/" target="_blank" style="color:#dfe3eb;">OpenAI</a></p>
        </div>
        <div class="social-links" fxFlex="50">
            <a href="https://in.linkedin.com/company/stackroute" target="_blank"><span><img src="../../../assets/linked_in.svg"></span></a>
            <a href="https://twitter.com/stack_route?lang=en" target="_blank"><span><img src="../../../assets/twitter-white.svg"></span></a>
            <a href="https://github.com/stackroute" target="_blank"><span><img src="../../../assets/github-logo.svg" width="23"></span></a>
            <a href="https://facebook.com/StackRouteOfficial/ " target="_blank"><span><img src="../../../assets/facebook-white.svg"></span></a>
            <a href="https://www.instagram.com/stackrouteofficial/?hl=en" target="_blank"><span><img src="../../../assets/insta-white.svg"></span></a>
          
              <div class="tNc">
                  <a href="/terms-of-use">Terms of Use</a>
                  <span>|</span>
                  <a href="/privacy-statement">Privacy Statement</a>
              </div>
          
          </div>
    </div>
</footer>
